{% extends "template.twig" %}

{% block content %}
    {% if isAdmin %}
        <form method="post" action="/create">
            <div class="row">
                <div class="nine columns">
                    <label for="desc">Описание</label>
                    <input type="text" name="desc" id="desc" value="" placeholder="Описание задачи" style="width: 100%">
                </div>
                <div class="three columns">
                    <label for="workerId">Исполнитель</label>
                    <select name="workerId" id="workerId">
                        {% for worker in workers %}
                            <option value="{{ worker.public_id }}">{{ worker.email }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input class="button-primary" type="submit" value="Зарегистрировать">
        </form>
    {% endif %}

    {% if tasks|length %}
        <h2>Задачи</h2>
        <div class="row">
            {% for task in tasks %}
                <form method="post" action="/complete" class="four columns">
                    <div class="twelve columns">
                        <span>{{ task.description }}</span>
                        <small style="color: darkgray">{{ task.assigned_at }}</small>
                    </div>
                    {% if user.public_id == task.assigned_to %}
                        <input type="hidden" name="id" value="{{ task.id }}">
                        <input type="submit" value="Выполнить">
                    {% else %}
                        <small>{{ task.email }}</small>
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}