{% extends "template.twig" %}

{% block content %}
    <pre><small>{{ userStr }}</small></pre>

    {% if notWorker %}
        <form method="post" action="/create" class="row">
            <div class="three columns">
                <select name="workerId" id="workerId" style="width: 100%">
                    {% for worker in workers %}
                        <option value="{{ worker.public_id }}">{{ worker.email }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="six columns">
                <input type="text" name="desc" id="desc" value="" placeholder="Описание задачи" style="width: 100%">
            </div>
            <div class="three columns">
                <input class="button-primary" type="submit" value="Зарегистрировать" style="float: right; width: 100%">
            </div>
        </form>
        {% if tasks|length %}
            <form method="post" action="/reassign">
                <input class="button-primary" type="submit" value="Переназначить задачи">
            </form>
        {% endif %}
    {% endif %}

    {% if tasks|length %}
        {% for task in tasks %}
            <div class="row" style="margin-bottom: 12px;">
                <div class="ten columns">
                    {{ task.description }}<br>
                    <small style="color: darkblue">
                        {{ task.assigned_at|date("Y-m-d H:i:s") }} / <b>{{ task.email }}</b> / {{ task.public_id }}
                    </small>
                </div>
                <div class="two columns">
                    {% if user.public_id is same as (task.assigned_to) %}
                    <form method="post" action="/complete">
                        <input type="hidden" name="id" value="{{ task.id }}">
                        <input type="submit" value="Выполнить" style="float: right">
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <span style="color: darkgray">Задач нет...</span>
    {% endif %}
{% endblock %}